 :root {
    --text-color-primary: #AE8636;
    --text-color-secondary: #15110A;
    --text-color-tertiary: #fff;
    --background-color-primary: #4a3c29;
    --background-color-secondary: #15110A;
  }

  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", sans-serif;
    background: var(--background-color-primary);
    color: var(--text-color-tertiary);
    overflow: hidden;
  }


  #ui-back {
      position: absolute;
      top: 10px;
      left: 10px;
      z-index: 10;
      background: var(--background-color-secondary);
      color: var(--text-color-primary);
      padding: 6px 10px;
      cursor: pointer;
      font-size: 12px;
    }